* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $--primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

ul,
ol {
  list-style-type: none;
}
