$--primary-color: #242b33;
$--secondary-color: #d4c17f;
$--third-color: #ffffff;

$--primary-font: "Playfair Display", serif;
$--secondary-font: "Raleway", serif;
$--third-font: 'Roboto', sans-serif;
